
<form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
    <input formControlName="email" type="email" placeholder="Enter the title here">
    <button type="submit">search</button>

</form>
<br><br>
<button (click)="sortplatform()">Sort by platform</button>
<button (click)="sortscore('asc')">Sort by scoreasc</button>
<button (click)="sortscore('des')">Sort by scoredes</button>
<br><br>
<div *ngIf="!issearching">
    <div *ngFor="let res of localstorageitem">
        <div class="row">
            <div class="col-md-12">
                <div class="search-res well">
                    <h4></h4> 
                    <div *ngIf="res.title">
                        <strong>Title:   &nbsp; {{res.title}}</strong>
                    </div>
                    <div *ngIf="res.score">
                        <strong>Score:  &nbsp;{{res.score}}</strong>
                    </div>
                    <div *ngIf="res.platform">
                        <strong>Platform:  &nbsp;{{res.platform}}</strong>
                    </div>
                    <div *ngIf="res.genre">
                        <strong>Genre:  &nbsp;{{res.genre}}</strong>
                    </div>
                    <div *ngIf="res.editors_choice">
                        <strong>Editor's Choice:  &nbsp;{{res.editors_choice}}</strong>
                    </div>
                   
                </div>    
            </div>    
        </div>
    </div>
</div>


<div *ngIf="issearching">
    <div class="search-res well">
        <h4></h4> 
        <div *ngIf="xx.title">
            <strong>Title:   &nbsp; {{xx.title}}</strong>
        </div>
        <div *ngIf="xx.score">
            <strong>Score:  &nbsp;{{xx.score}}</strong>
        </div>
        <div *ngIf="xx.platform">
            <strong>Platform:  &nbsp;{{xx.platform}}</strong>
        </div>
        <div *ngIf="xx.genre">
            <strong>Genre:  &nbsp;{{xx.genre}}</strong>
        </div>
        <div *ngIf="xx.editors_choice">
            <strong>Editor's Choice:  &nbsp;{{xx.editors_choice}}</strong>
        </div>
       
    </div>    
</div>



